body {
    padding-top: 280px;
    background-image: url('mountain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-color: #333;
    font-family: Roboto, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

head {
    padding-top: 65px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    color:black ;
}

/* Override bootsrap*/
.navbar-inverse {
    background-color: black;
    border-color: darkcyan;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.list-group {
    max-width: 280px;
    color: black;
}

.badge {
    padding: 5px 4px;
    background-color: red;
}

.active {
    background-color: #468847;
}

.imgSet {
    opacity: .9;
}

.cover-heading {
    font-family: "Great Vibes", serif;
    font-size: 100px;
    transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
}

.cover-container {
    text-align: center;
}

.content-container {
   
    display: inline-block;
    font-size: 18px;
}






