@{
    ViewBag.Title = "Home Page";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
   
    

</head>



<body>

<div class="cover-container">
    <h1 class=" cover-heading">
       Welcome to WeeChat!
    </h1>

</div>








</body> 