<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5a60fa28-1a50-480b-a274-c1d7a744fac4/resourcegroups/myResourceGroup/providers/Microsoft.Web/sites/WeeChat2020</ResourceId>
    <ResourceGroup>myResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://weechat2020.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>weechat2020.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WeeChat2020</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WeeChat2020</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:weechat20200218034127dbserver.database.windows.net,1433;Initial Catalog=WeeChat20200218034127_db;User ID=sqladmin@weechat20200218034127dbserver;Password=Dragonrules1!" Name="Data Source=tcp:weechat20200218034127dbserver.database.windows.net,1433;Initial Catalog=WeeChat20200218034127_db;User Id=sqladmin@weechat20200218034127dbserver;Password=Dragonrules1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WeeChat.Models.ApplicationDbContext, WeeChat" MigrationConfiguration="WeeChat.Migrations.Configuration, WeeChat" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MyDbConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:weechat20200218034127dbserver.database.windows.net,1433;Initial Catalog=WeeChat20200218034127_db;User ID=sqladmin@weechat20200218034127dbserver;Password=Dragonrules1!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WeeChat-20200129062024.mdf;Initial Catalog=aspnet-WeeChat-20200129062024;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MyDbConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WeeChat-20200129062024.mdf;Initial Catalog=aspnet-WeeChat-20200129062024;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MyDbConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:weechat20200218034127dbserver.database.windows.net,1433;Initial Catalog=WeeChat20200218034127_db;User ID=sqladmin@weechat20200218034127dbserver;Password=Dragonrules1!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:weechat20200218034127dbserver.database.windows.net,1433;Initial Catalog=WeeChat20200218034127_db;User Id=sqladmin@weechat20200218034127dbserver;Password=Dragonrules1!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>