@model IEnumerable<WeeChat.Models.UserProfile>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Contacts(@Model.Count())</h2>

<div class="list-group">
    @foreach (var user in Model)
    {
        
        @Html.ActionLink(user.ScreenName, "Index", "Conversation",
            new {id = user.ScreenName},
            new {@class ="list-group-item list-group-item-action" })
        
    }
</div>


<script type="text/javascript">

    $(function () {

        // Declare a proxy to reference the hub.
        var chatHub = $.connection.chatHub;

        registerClientMethods(chatHub);

        // Start Hub
        $.connection.hub.start().done(function () {

            registerEvents(chatHub)

        });

    });

</script>
