@model IEnumerable<WeeChat.Models.UserProfile>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Contacts(@Model.Count())</h2>

<ul class="list-group">
    @foreach (var user in Model)
    {
        <li class=" list-group-item">@user.ScreenName</li>
    }
</ul>

